{% extends "layout.html.twig" %}
{% block title %}Consultar Produtos{% endblock %}

{% block body %}
    <div class="card m-3 bg-light border-0">
        <div class="card-body">
            <form action="" method="GET" class="d-flex justify-content-center flex-wrap">
                <div class="d-flex gap-2 flex-wrap" style="width: 700px">
                    <div>
                        <label>Pesquisar por:</label>
                    </div>
                    <div class="flex-fill">
                        <input type="text" name="pesquisar" class="form-control" value="{{ pesquisar }}">
                    </div>
                    <div>
                        <button type="submit" class="btn btn-success">
                            <i class="fa-solid fa-magnifying-glass"></i> Pesquisar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="card m-3">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th style="width:1%">ID</th>
                            <th>Código</th>
                            <th>Descrição</th>
                            <th style="width:1%"></th>
                            <th style="width:1%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for produto in produtos %}
                            <tr>
                                <td>{{ produto['id'] }}</td>
                                <td>{{ produto['codigo'] }}</td>
                                <td>{{ produto['descricao'] }}</td>
                                <td>
                                    <a href="/edit/{{ produto['id'] }}" class="btn btn-warning btn-sm d-flex">
                                        <i class="fa-regular fa-pen-to-square p-1"></i> Editar
                                    </a>
                                </td>
                                <td>
                                    <form action="/delete/{{ produto['id'] }}" method="POST">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <button type="submit" class="btn btn-danger btn-sm d-flex">
                                            <i class="fa-solid fa-trash-can p-1"></i> Deletar
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            {% if (produtos_count > 0) %}
                <div class="text-success text-center fw-bold">Total de registros: {{ produtos_count }}</div>
            {% else %}
                <div class="text-center fw-bold">Nenhum produto foi localizado!</div>
            {% endif %}
        </div>
    </div>
{% endblock %}
        