{% extends "layout.html.twig" %}
{% block title %}Listagem de produtos{% endblock %}

{% block body %}
    <h4 class="text-center pt-4">Listagem de produtos</h4>
    <div class="card m-3 bg-light border-0">
        <div class="card-body">
            <form action="" method="GET" class="d-flex justify-content-center flex-wrap">
                <div class="d-flex flex-wrap" style="width: 400px">
                    <label for="">Pesquisar por:</label>
                    <input type="text" name="pesquisar" class="form-control-sm ms-2 flex-fill" value="{{ pesquisar }}">
                </div>
                <button type="submit" class="btn btn-success btn-sm ms-2">
                    <i class="fa-solid fa-magnifying-glass"></i> Pesquisar
                </button>
            </form>
        </div>
    </div>
    <div class="card m-3">
        <div class="card-body">
            <div class="d-flex flex-wrap">
                <button type="Button" class="btn btn-primary btn-sm ms-auto" id="btnCadastrar" onClick="abrirTela()">
                    <i class="fa-solid fa-plus"></i> Cadastrar Produto
                </button>
            </div>
            <br>
            <div class="table-responsive">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th style="width:1%">ID</th>
                            <th>Código</th>
                            <th>Descrição</th>
                            <th style="width:1%"></th>
                            <th style="width:1%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for produto in produtos %}
                            <tr>
                                <td>{{ produto['id'] }}</td>
                                <td>{{ produto['codigo'] }}</td>
                                <td>{{ produto['descricao'] }}</td>
                                <td>
                                    <button type="button" class="btn btn-warning btn-sm d-flex" onClick="abrirTela({{ produto['id'] }})">
                                        <i class="fa-regular fa-pen-to-square p-1"></i> Editar
                                    </button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger btn-sm d-flex" onClick="deletar({{ produto['id'] }})">
                                        <i class="fa-solid fa-trash-can p-1"></i> Deletar
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            {% if (produtos_count > 0) %}
                <div class="text-success text-center fw-bold">Total de registros: {{ produtos_count }}</div>
            {% else %}
                <div class="text-center fw-bold">Nenhum produto foi localizado!</div>
            {% endif %}
        </div>
    </div>
{% endblock %}
        